*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 3rem;
}

.nav img{
    width: 180px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
}

ul li{
    color: #333;
    cursor: pointer;
}

ul li:hover{
    color: rgba(32, 168, 32, 0.849);
}

.nav-btn{
    padding: 11px 22px;
    background-color: rgba(32, 168, 32, 0.849);
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.nav-btn:hover{
    background-color: rgba(10, 139, 10, 0.849);
}

/* HERO SECTION  */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1.5rem 0;
    background: #333 url(../IMAGES/homeBg.png) no-repeat center center/cover;
    height: 83vh;
    color: #fff;;
    text-align: center;
}

.hero-section h1{
    font-size: 2rem;
    font-weight: 400;
}

.hero-text1{
    font-weight: 380;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 0;
}

#check{
    width: 25px;
}

.check-sec{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.check1{
    display: flex;
    gap: 8px;
    align-items: center;
}

.check1 p{
    font-size: 16px;
    font-weight: 390;
} 

input[type=text] {
    background-color: white;
    background-image: url('./IMAGES/search-line.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 40%;
    padding: 15px 15px 15px 40px;
    border-radius: 30px;
    transition: width 0.4s ease-in-out;
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
    cursor: pointer;
    margin: 10px 0 10px 0;
}
  
input[type=text]:focus {
    border: none;
    border: #fff 2px solid;
}


::placeholder{
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

.star-sec{
    display: flex;
    gap: 5px;
}

#star-img{
    width: 20px;
}

.hero-text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 380;
    margin: 6px 0 12px 0;
}

.popular-sec{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.heroBox-sec{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.hero-box{
    padding: 12px ;
    border: 1px solid #fff;
    border-radius: 10px;
}

.popular-sec p{
    margin: 12px 0 0 0;
}

h2{
    font-size: 2rem;
    text-align: center;
    border-bottom: #333 1px solid;
    width: 340px;
    margin: 2rem auto 2rem auto;
}

.image-sec{
    display: flex;
    width: 70%;
    margin: 0 1rem 2rem 11rem ;
    justify-content: space-between;
    align-items: center;
}

.ri-menu-line{
    display: none;
}

/* MEDIA QUERY */
    @media screen and (max-width: 1280px) {
        ul{
            width: 100%;
            justify-content: center;
            gap: 62px;
        }
        .nav{
            width: 100%;
            gap: 18rem;
        }
        .hero-section{
            height: 60vh;
            width: 100%;
        }
        .image-sec{
            width: 60%;
        }
        .check-sec{
            width: 80%;
        }
        input[type=text]{
            width: 45%;
        }
        .popular-sec{
            width: 80%;
        }
        .image-sec{
            width: 90%;
        }
        h2{
            width: 100%;
            margin: 2rem 0;
            text-decoration: underline;
            border-bottom: none;
        }
    }
    @media screen and (max-width: 1024px) {
       .nav{
        gap: 120px;
       }
       ul{
        gap: 60px;
       }
       .hero-section{
        width: 100%;
        height: 80vh;
       }
       h2{
        width: 100%;
       }
       .image-sec{
        width: 90%;
        margin: 0 3rem 2rem 3rem;
       }
       .hero-text2{
        margin: 6px 0 22px 0;
       }
    }
    @media screen and (max-width: 912px) {
        .nav{
            gap: 10px;
        }
        .hero-section{
            height: 40vh;
        }
        .nav-sec{
            display: none;
        }
        .ri-menu-line{
            display: block;
            font-size: 50px;
        }
        .popular-sec{
            width: 90%;
        }
}
    @media screen and (max-width: 768px) {
        .hero-section{
            height: 50vh;
        }
        .nav img{
            width: 170px;
        }
        .popular-sec{
            width: 95%;
        }
        .check-sec{
            width: 90%;
        }
        input[type=text]{
            width: 50%;
        }
    }
    @media screen and (max-width: 540px) {
        .hero-section{
            height: 100vh;
            padding: 2rem 0 8px 0;
        }
        .hero-text1 {
            width: 500px;
        }
        input[type=text]{
            width: 80%;
        }
        .check-sec{
            gap: 25px;
        }
        .check1{
            gap: 0px;
        }
        .check1 p{
            font-size: 14px;
        }
        #check{
            width: 20px;
        }
        .popular-sec{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;
            width: 100%;
        }
        .hero-box{
            width: 100%;
        }
        .heroBox-sec{
            flex-direction: column;
            gap: 12px;
        }
        .image-sec{
            margin: 0 1rem 2rem 1rem;
        }
        .image-sec img{
            width: 50px;
        }
    }
    
    @media screen and (max-width: 414px) {
        .hero-section{
            padding: 1rem 0 8px 0;
            height: 90vh;
        }
        .hero-text1{
            width: 300px;
        }
    }

    @media screen and (max-width: 375px) {
        .hero-section{
            height: 130vh;
        }
        .nav{
            padding: 14px 2rem;
        }
    }

    @media screen and (max-width: 280px) {
        .hero-section{
            height: 80vh;
        }
        .nav{
            padding: 14px 1rem;
        }
        .hero-text1{
            display: none;
        }
        .hero-section h1{
            display: none;
        }
        .check-sec{
            display: none;
        }
        input[type=text]{
            width: 90%;
            border-radius: 15px;
        }
        ::placeholder{
            font-size: 16px;
        }
        .image-sec{
            display: grid;
            grid-template-columns: repeat(3, auto);
        } 
        .image-sec img{
            width: 70px;
        }
    }