*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 3rem;
}

.nav img{
    width: 180px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 500px;
}

ul li{
    color: #333;
}

.nav-btn{
    padding: 10px 20px;
    background-color: rgba(32, 168, 32, 0.849);
    color: #fff;
    border-radius: 10px;
    border: none;
}

/* HERO SECTION  */
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    background: #333 url(./IMAGES/homeBg.png) no-repeat center center/cover;
    height: 100vh;
    color: #fff;;
    text-align: center;
}

.hero-section h1{
    font-size: 2rem;
    font-weight: 400;
}

.hero-text1{
    font-weight: 380;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 0;
}

#check{
    width: 25px;
}

.check-sec{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.check1{
    display: flex;
    gap: 10px;
    align-items: center;
}

.check1 p{
    font-size: 16px;
    font-weight: 390;
} 

input[type=text] {
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    transition: width 0.4s ease-in-out;
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
    cursor: pointer;
}
  
input[type=text]:focus {
    border: none;
    border: #fff 2px solid;
}


::placeholder{
    color: #fff;
}